*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 200px;
    background-color: black;
}
nav{
    width: 90%;
    height: 80px;
    background-color: red;
    margin: auto;
}
main{
    width: 100%;
    height: 100vh;
    background-color: chartreuse;
}
aside#left,
aside#right{
    width: 15%;
    height: 50vh;
    background-color: blue;
}

aside#left{
    float: left;
}
aside#right{
    float: right;
}
article{
    width: 70%;
    height: 100%;
    background-color: orange;
    float: left;
}
section.box1{
    width: 100%;
    height: 300px;
    background-color: aqua;
    overflow: auto;
}
section{
    width: 48%;
    height: 200px;
    background-color: blueviolet;
    margin: 3px;
    float: left;

}
img{
    width: 150px;
    height: 80px;
}
footer{
    width: 100%;
    height: 300px;
    background-color: black;
}
aside{
    width: 150px;
    height: ;
}