.city{
    background-color: red;
    color: white;
    padding: 20px;
    margin: 20px;
}

#id1{
    background-color: black;
    color: white;
}

/*
ul{
   list-style-type: none;
   padding: 0px; 
   margin: 0px;
   overflow: hidden;
   background-color: black;


}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 30px;

}
li a:hover{
    background-color: brown;
}





table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
}
*/